<!DOCTYPE html>
<html>

<head>
        <title>Boogle</title>
        <meta charset="UTF-8">
        <meta name="description" content="Boogle">
        <link rel="stylesheet" href="Boogle.css">

</head>

<body>
    <Div id="container">
        <div id="main">
            <Div id="navbar" >
                <Div id="links-navbar">
                    <a class="flex-item" href="#">Bmail</a>
                    <a class="flex-item" href="#">Imagens</a>
                    <a href="www.abola.pt"> <img class="aplicaçoes" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAHlBMVEX///8AAAD09PTLy8uUlJSPj4/5+fnl5eXNzc3IyMgWJBrXAAABJklEQVR4nO3cQQ6CMBRFUSwtpfvfsAv4qD8EI6nnzF/0MhMpywIAAAAAAAAAcC+j1YQt7Hpm13rYbZmPa+PCwvbIKPHKpHbxm5bUrl1YWE8WrqnderKwKlSoUKFChQoVKlSoUKFChQoVKlSoUKFChQoVKlSoUKFChRcW7qndfoPCrWQcDL+6i89+AAAAAO/1sX4Wb0YsJbMbBz/y98wuntM4z3mLV4Xz32tTqFChQoUKFSpUqFChQoUKFSpUqFChQoUKFSpUqFChQoX3K5z/f/z5n8UAAACA/zD/OxXmfy/G/PfaFCpUqFChQoUKFSpUqFChQoUKFSpUqFChQoUKFSpUqFDhPIXzn7cYrSbEZyN6ZtfiuYkt83EtXhkAAAAAAAAAgN96AuUrQOqYK1c6AAAAAElFTkSuQmCC"
                       alt="Aplicações" ></a>
                </Div>
            </Div>

            <Div class="main">
                <img id="logo" src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg" alt="Logo Boogle">
            </Div>

            <DIV id="search-container">
                <input  type="text" id="search" >
            </DIV>

            <Div id="buttons">
                 <button class="pesquisa" type="submit" formaction="#">Pesquisa Boogle</button>
                 <button class="pesquisa" type="submit" formaction="#">Sinto-me com sorte</button>
            </Div>
        </div>
    </Div>
    <Div id="footer">
        <Div class="grupo1">
            <a class="flex-item1" href="#">Sobre</a>
            <a class="flex-item1" href="#">Publicidade</a>
            <a class="flex-item1" href="#">Negocios</a>
            <a class="flex-item1" href="#">Como funciona a Pesquisa</a>
        </Div>
        <Div class="grupo1">
            <a class="flex-item1" href="#">Neutralização de emissões de carbono desde 2007</a>
        </Div>
        <Div class="grupo1">
            <a class="flex-item1" href="#">Privacidade</a>
            <a class="flex-item1" href="#">Termos</a>
            <a class="flex-item1" href="#">Definições</a>
        </Div>
    </Div>


</body>