<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link href="Fakebook.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>My Fakebook</title>

</head>


<body>

<form>
    <h1 >FAKEBOOK</h1>

    <a href="#" class="fa fa-facebook" ></a>

    <input  type="text" id="search" placeholder="Search by name">
    <select id="searchfriend">
        <option>Friend1</option>
        <option>Friend2</option>
        <option>Friend3</option>
        <option>Friend4</option>
        <option>Friend5</option>
    </select>

</form>

    <img id="foto" src="https://instagram.flis5-4.fna.fbcdn.net/v/t51.2885-19/s320x320/72286932_1741012266031513_4927144142183596032_n.jpg?tp=1&_nc_ht=instagram.flis5-4.fna.fbcdn.net&_nc_ohc=IBW3my0JKgMAX9yEVA5&ccb=7-4&oh=3f3da878b1542f2916537bfdc836884b&oe=60881295&_nc_sid=7bff83"
             alt="Foto Perfil">

    <h2 >Daniel Domingues</h2>
    <div class="container">
        <div class="center" >
                <button class="button">Add Friend</button>
        </div>
    </div>


    <div class="container">
        <p class="generico"> <b>Natural:</b>   França </p>
    </div>
    <div class="container">
        <p class="generico"> <b>Nacionalidade:</b> Portuguesa </p>
    </div>
    <div class="container">
        <p class="generico"> <b>Idade:</b> 40 anos </p>
    </div>

    <div class="generico" class="container">
        <p><b>Hobbies:</b></p>

                <ul >
                <li>&#127918; Gaming</li>
                <li>&#128250; Filmes/Series</li>
                <li>&#128106; Familia</li>
                </ul>
    </div>

</body>
