<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
    </head>

    <body>
        <h1>About Me</h1>
        <div class="container">
            <p> <b>Name:</b> Daniel  Domingues </p>
        </div>
        <div class="container">
            <p> <b>Date of Birth:</b> 24/09/1980 </p>
        </div>
        <div class="container">
            <p> <b>Place of birth</b>  França </p>
        </div>
        <div class="container">
            <p> <b>Nacionalidade</b> Português</p>
        </div>
        <div class="container">
            <p> <b>Living at:</b> Palmela, Portugal</p>
        </div>
        <div class="container">
            <p> <b>Academic Qualifications</b> Engineering Graduate</p>
        </div>


    </body>
</html>